{% extends 'base.html.twig' %}


{% block title %}
    {{ sirop.title }}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="owl-carousel owl-theme">
                    {% for image in sirop.images %}
                        <a data-fancybox="sirop-main" href="{{ vich_uploader_asset(image) }}">
                            <img src="{{ vich_uploader_asset(image) }}" alt="" class="custom-rounded">
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <h3>{{ sirop.title }}</h3>
                <h4>Ingrédients</h4>
                {{ sirop.ingredients|raw }}
                <hr>
                <h4>Déscription</h4>
                {{ sirop.description|raw }}
                <hr>
                <button type="button" class="btn btn-custom-primary main-cta">
                    <span class="gradiant"></span>
                    <span class="text">Ajouter au panier <i class="fa-solid fa-bottle-droplet"></i></span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('product-show') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('product-show') }}
{% endblock %}
